<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Course: <%= @course.name %></h1>

    <blockquote><%= @course.description %>
</blockquote>
<div class="location">This course is held at <%= @course.location %></div>

<div class="location">Taught by <%= @course.instructor_name %></div>

<%- if user_signed_in? && current_user.enrolled?(@course) %>
You are already enrolled in this course.
<%- else %>
  <%= link_to "Enroll in this course", course_enrollments_path(@course), class: "btn btn-primary", 
              "data-confirm" => "Are you sure you want to enroll in the #{@course.name} course?",
              method: :post %>
<%- end %>
  </div>  
</div>