<div class="row">
  <div class="col-md-8 col-md-offset-2 space">
    <h1>Course: <%= @course.name %></h1>

    <blockquote><%= @course.description %>
</blockquote>
<div class="location">This course is held at <%= @course.location %></div>

<div class="location">Taught by <%= @course.instructor_name %></div>

<%- if user_signed_in? && current_user.enrolled?(@course) %>
  <div class="space-bottom">You are enrolled in this course.</div>
<%- else %>
  <div class="space-bottom">
    <%= link_to "Enroll in this course", course_enrollments_path(@course), method: :post, 
                                         "data-course_id": @course.id, class: "btn btn-primary" %>
  </div>
<%- end %>
  </div> 
  
</div>

<%= link_to 'Back', courses_path %>